{
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "endOfLine": "crlf",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "insertPragma": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "singleQuote": true,
  "useTabs": false,
  "bracketSameLine": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
